<div class="container">
  <div class="show-content">
    <div class="row">
      <div class="col-lg-6">
          <img class="show-img" src="<%= @menu.picture %>">
      </div>
      <div class="col-lg-6 right-bg">
        <h1 class="show-title"><%= @menu.name %> - $<span><%= @menu.price %></span></h1>
        <p class="show-description"><%= @menu.description %></p>
        <p class="btn-order">Order</p>
      </div>
    </div>

  </div>

</div>
