<div class="bg-login">
  <div class="container">
    <div class="bg-content">
      <div class="row">
        <div class="col-lg-6 bg-left">
          <h1>teste</h1>
        </div>
        <div class="col-lg-6 bg-right">
          <h2>teste2</h2>
        </div>
      </div>

      <div class="title-shop">
        <span class="">Coffe</span>
      </div>

    </div>
  </div>
</div>

