<div class="bg-login">
  <div class="container">
    <div class="bg-content">
      <div class="row container-border">
        <div class="col-lg-6 bg-left">
          <div class="icons-flex">
            <i class="fab fa-facebook-square fa-2x"></i>
            <i class="fab fa-instagram-square fa-2x"></i>
            <i class="fab fa-twitter-square fa-2x"></i>
          </div>
        </div>
        <div class="col-lg-6 bg-right">
          <p class="btn-enter">Enter</p>
        </div>
      </div>

      <div class="title-shop">
        <p class="title">Coffe <span class="title-e">e</span></p>
      </div>

      <div class="subtitle">
        <p>Life is better with coffe</p>
      </div>

    </div>
  </div>
</div>

