.bg-login{
}

.bg-left{
  background-color: #fff;
}

.bg-right{
  background-image: url("https://res.cloudinary.com/dloadb2bx/image/upload/v1619132494/photo-1523942839745-7848c839b661_ay86rv.jpg");
  background-size: cover;
  height: 400px;

}

.bg-content{
  position: relative;
  margin: 100px auto;
  width: 720px;

}
.title-shop{
  font-size: 48px;
  position:absolute;
  margin-top: -100px;
}

